<div class="top-container">
    <nav class="navbar">
        <div class="nav-left">
            <img class="logo" src="logo.jpg" alt="App Logo">
            
          
            <div class="dropdown">
                <span class="dropdown-label">Browse ▼</span>
                <div class="dropdown-menu">
                    <a href="#">Discover Stories</a>
                    <a href="#">Top Authors</a>
                </div>
            </div>

            <input type="text" class="search-bar" placeholder="🔍 Search...">
        </div>
      
        <div class="nav-right">
            <app-payment *ngIf="user && !user.isPrimeSubscriber" [userId]="user.id"></app-payment>


       
            <div class="dropdown">
                <span class="dropdown-label">Writer ▼</span>
                <div class="dropdown-menu">
                    <a routerLink="new-story">Write a new Story +</a>
                    <a routerLink="my-story">My Stories 📝</a>
                </div>
            </div>

            <div class="dropdown">
                <img src="user.png" alt="Profile Picture" class="dropdown-label profile-image">
                <!-- <p>{{user?.username}}</p> -->
                <div class="dropdown-menu-profile">
                    <a (click)="navigateTo('profile')">View Profile</a>
                    <a (click)="navigateTo('saved-stories')">Saved Stories </a>
                    <a (click)="logout()">  <span>Logout 🔓</span></a>
                </div>
            </div>

            
        </div>
    </nav>

    <div class="container">
        
        <div class="status">
          
            <div class="stories">
                <div *ngFor="let story of stories" class="card" [routerLink] = "['/user/read-story', story.id]">
                    <div class="prime-div">
                        <img *ngIf="story.paid" src="prime.png" alt="prime" class="prime-logo top">
                        <img src="{{story.posterUrl}}" alt="story poster" class="bg poster">
                        <div>
                            <p>{{story.genre}}</p>
                        </div>
                    </div>
    
                </div>
              
            </div>
        </div>
    </div>
</div>
