<div class="container">
    <nav class="navbar">
        <div class="nav-left">
            <img class="logo" src="logo.jpg" alt="App Logo">
            
          
            <div class="dropdown">
                <span class="dropdown-label">Browse ▼</span>
                <div class="dropdown-menu">
                    <a href="#">Discover Stories</a>
                    <a href="#">Top Authors</a>
                </div>
            </div>

            <input type="text" class="search-bar" placeholder="Search...">
        </div>
      
        <div class="nav-right">
            <button class="prime">Try Prime</button>

       
            <div class="dropdown">
                <span class="dropdown-label">Writer ▼</span>
                <div class="dropdown-menu">
                    <a routerLink="new-story">Write a new Story +</a>
                    <a href="#">My Stories</a>
                </div>
            </div>
        
            <div class="profile">
                <img src="profile.jpg" alt="Profile Picture">
            </div>
        </div>
    </nav>
</div>
