<div class="top-container">
    <nav class="navbar">
        <div class="nav-left">
            <img class="logo" src="logo.jpg" alt="App Logo">


            <div class="dropdown">
                <span class="dropdown-label welcome"> Welcome {{user?.username}} ! </span>
                <!-- <span class="dropdown-label">Browse ▼</span> -->
                <!-- <div class="dropdown-menu">
                    <a href="#">Discover Stories</a>
                    <a href="#">Top Authors</a>
                </div> -->
            </div>

            <input type="text" (keyup)="searchStories($event)" class="search-bar" placeholder=" Search...">
        </div>

        <div class="nav-right">
            <app-payment *ngIf="user && !user.primeSubscriber && (userRole != 'ROLE_ADMIN')" [userId]="user.id"></app-payment>
            <div class="prime" *ngIf="user && user.primeSubscriber && (userRole != 'ROLE_ADMIN')">You are a Prime Subscriber</div>

            <div class="prime" *ngIf="(userRole == 'ROLE_ADMIN')" routerLink="/admin">Go to admin dashboard</div>

            <div class="dropdown">
                <span class="dropdown-label">Writer ▼</span>
                <div class="dropdown-menu">
                    <a routerLink="new-story">Write a new Story +</a>
                    <a routerLink="my-story">My Stories 📝</a>
                </div>
            </div>

            <div class="dropdown">
                <div class="user-name dropdown-label-profile">
                    <img src="user.png" alt="Profile Picture" class="profile-image">
                </div>
                <!-- <p>{{user?.username}}</p> -->
                <div class="dropdown-menu-profile">
                    <a (click)="navigateTo('profile')">View Profile</a>
                    <a (click)="navigateTo('saved-stories')">Saved Stories </a>
                    <a (click)="logout()"> <span>Logout 🔓</span></a>
                </div>
            </div>


        </div>
    </nav>

    <div class="container">
        <h5>Explore Stories 📝</h5>
        <div class="status">
            <div *ngIf="filteredStories.length > 0; else noResults">
                <div class="stories">

                    <div *ngFor="let story of filteredStories" class="card"
                        [routerLink]="['/user/read-story', story.id]">
                        <div class="prime-div">
                            <img *ngIf="story.paid" src="prime.png" alt="prime" class="prime-logo top">
                            <img src="{{story.posterUrl}}" alt="story poster" class="bg poster">
                            <div>
                                <p>{{story.genre}}</p>
                                
                            </div>
                         
                        </div>

                    </div>
                </div>
            </div>
            <ng-template #noResults>
                <p class="no-results">No results match your search.</p>
            </ng-template>
        </div>
    </div>
</div>