.top-container{
    max-width: 1000px;
    margin: auto;
    padding: 20px;
   justify-content: center;

}
.container {
    max-width: 800px;
    margin: auto;
 
   margin-left: -20px;
    padding: 20px;
   
}

.container {
    
   
    transition: all 0.3s ease-in-out;
}

.container:hover {
    transform: scale(1.02);
}



.story-details,
.author-details {
    display: flex;
    justify-content: center;
    gap: 10px;
    gap: 15px;
    margin-top: 10px;
  
}

.story-details div,
.author-details div {

    padding: 8px 15px;
   
    font-size: 14px;
    font-weight: 500;
    text-align: center;
   
}

.about-story{
    text-align: center;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 20px;
    width: 980px;

}

.story-content {
  
    max-width: 1000px;
    padding: 20px;
    margin: auto;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-top: 6px solid #ff5722;
    border-bottom: 6px solid #ff5722;
   
}

.border{
    border-top: none;
    border-bottom: none;
}

.story-content-hide {
  
    max-width: 1000px;
    padding: 20px;
    margin: auto;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
   
}

.story-content img {
    display: block;
    margin: 10px auto;
    max-width: 100%;
    height: auto;
}

.icons{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.story-content-hide.blurred {
    position: relative;
    overflow: hidden;
    max-height: 3.5em; 
    filter: blur(4px);
  }
  
  .blur-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;
  }

  
  

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    border-radius: 15px;
    backdrop-filter: blur(12px);
    background: rgba(255, 255, 255, 0.1);
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
    

}


h5 {
    text-align: center;
   
    color: #ff5722;
  
    letter-spacing: 1.5px;
    margin-top: 15px;
    padding-bottom: 5px;
  
    
   
  }
  
  
.logo {
    height: 50px;
    transition: transform 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
}


.prime {
    background: rgb(255, 81, 18);
    border: none;
    padding: 12px 18px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
 
}


.nav-left, .nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

 
  .cancel {
    background-color: #fff;
    color: rgb(255, 81, 18);
    border: 2px solid rgb(255, 81, 18);
    padding: 5px 15px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  
  .cancel:hover {
    background-color: #ff5722;
    color: white;
  }
  