<div>
    <nav class="navbar">
        <div class="nav-left">
            <img class="logo" src="logo.jpg" alt="App Logo">
        </div>

        <div class="nav-right">

            <button class="cancel" (click)="cancel()">Cancel</button>
            <button class="prime" (click)="submitStory()">Next</button>
        </div>
    </nav>
</div>



<div class="details">
    <div class="cover">
        <label class="file-input-label" title="Upload cover image">
            <input type="file" (change)="onFileSelected($event)" accept="image/*" hidden />


            <img *ngIf="!coverImageUrl" src="image.png" alt="Upload Icon" class="upload-icon" />
            <p *ngIf="!coverImageUrl" style="color: rgb(102, 102, 102);">Add a cover image +</p>
        </label>


        <div class="cover-preview-container" *ngIf="coverImageUrl">
            <img [src]="coverImageUrl" alt="Cover Preview" class="cover-preview" />


            <button class="remove-btn" (click)="removeImage()">✖</button>
        </div>
    </div>



    <div class="container">

        <h3>Story Details</h3>

        <form [formGroup]="storyForm" (ngSubmit)="submitStory()">

            <label>Story Title:</label>
            <input type="text" formControlName="title" placeholder="Enter story title" required />

            <!-- <label>Poster URL:</label>
            <input type="text" formControlName="posterUrl" placeholder="Enter poster URL" required /> -->

            <label>Story Summary:</label>
            <textarea formControlName="summary" placeholder="Enter summary"></textarea>





            <!-- <label>Author ID:</label>
        <input type="text" formControlName="authorId" required />

        <label>Author Name:</label>
        <input type="text" formControlName="authorName" required /> -->



            <label for="genre">Genre:</label>
            <select id="genre" formControlName="genre" (click)="showGenres = true" (change)="onGenreChange($event)"
                class="dropdown">
                <option value="" *ngIf="!selectedGenre" disabled selected>Select a category</option>
                <ng-container *ngIf="showGenres || selectedGenre">
                    <option *ngFor="let genre of genres" [value]="genre">{{ genre }}</option>
                </ng-container>
            </select>




            <label>Tags:</label>
            <div class="tag-input">
                <input type="text" formControlName="newTag" placeholder="Enter tag" #tagInput class="tag-input" />
                <img src="plus.png" alt="add button" (click)="addTag(tagInput)" class="tag-add">
            </div>


            <div class="tag-list">
                <div *ngFor="let tag of tags.controls; let i = index" class="tag">
                    <div>{{ tag.value }}</div>
                    <img src="clear.png" alt="delete button" (click)="removeTag(i)" class="tag-delete">
                </div>
            </div>

            <div class="radio-group">
                <label>Paid Story:</label>
                <div class="radio-options">
                    <label>
                        <input type="radio" formControlName="isPaid" [value]="true" /> Yes
                    </label>
                    <label>
                        <input type="radio" formControlName="isPaid" [value]="false" /> No
                    </label>
                </div>
            </div>


        </form>

    </div>
</div>



<!-- <div class="editor">
    <h3>Write Story here</h3> 
   
    <app-tiptap-editor (contentChange)="storyForm.controls['content'].setValue($event)"></app-tiptap-editor>
</div>  -->