
.container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    border-radius: 15px;
    backdrop-filter: blur(12px);
    background: rgba(255, 255, 255, 0.1);
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
    

}


h3 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #ff9800;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-top: 15px;
    padding-bottom: 5px;
    border-bottom: 3px solid #ff9800;
    
   
  }
  
  
.logo {
    height: 50px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
}


.prime {
    background: rgb(255, 81, 18);
    border: none;
    padding: 12px 18px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
 
}


.nav-left, .nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

 
  .cancel {
    background-color: #fff;
    color: #ff9800;
    border: 2px solid #ff9800;
    padding: 5px 15px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  
  .cancel:hover {
    background-color: #ff9800;
    color: white;
  }
  

  h3 {
    text-align: center;
    margin-top: 15px;
    color: #333;
  }
  

  .stories {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
  }
  

  .card {
    width: 160px;
    position: relative;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }

  .card p {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    background: #ff5722;
    color: white;
    padding: 5px;
    border-radius: 6px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
 
  .poster {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  

  .card p {
    text-align: center;
    font-size: small;
    border-radius: 6px;
    background-color: white;
    padding: 5px;
    font-weight: bold;
    color: #333;
    margin-top: 5px;
  }
  

  .top {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 24px;
    z-index: 2;
    padding: 5px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  }
  