<div>
<div class="fix">
    <nav class="navbar">
        <div class="nav-left">
            <img class="logo" src="logo.jpg" alt="App Logo">

            
        </div>
      
        <div class="nav-right">
            
           
            
            <button class="prime" (click)="saveContent()">Save</button>
            <button class="cancel">Cancel</button>
            <button class="prime" (click)="onPublish()">Publish</button>

       
        </div>
    </nav>



<div class="editor">
<div class="editor-toolbar">
    
    <button (click)="editor.chain().focus().toggleBold().run()" title="Bold">
      <i class="fas fa-bold"></i>
    </button>
    
    <button (click)="editor.chain().focus().toggleItalic().run()" title="Italic">
      <i class="fas fa-italic"></i>
    </button>
    
    <button (click)="editor.chain().focus().toggleUnderline().run()" title="Underline">
      <i class="fas fa-underline"></i>
    </button>

    <button (click)="editor.chain().focus().toggleBulletList().run()" title="Bullet List">
      <i class="fas fa-list-ul"></i>
    </button>


    <button (click)="editor.chain().focus().toggleOrderedList().run()" title="Ordered List">
      <i class="fas fa-list-ol"></i>
    </button>
    <img src="left.png" alt = "left align" (click)="setAlignment('left')" class="align">
    <img src="center.png" alt = "left align" (click)="setAlignment('center')" class="align">
    <img src="right.png" alt = "left align" (click)="setAlignment('right')" class="align">
  
    <div>
        <label>Font Size: </label>
    <select (change)="setFontSize($event)">
        <option value="12">12px</option>
        <option value="14">14px</option>
        <option value="16">16px</option>
        <option value="18">18px</option>
        <option value="20">20px</option>
    </select>   
    </div>   
<div>

    <label>Text Color: </label>
    <input type="color" (change)="setTextColor($event)" />
    </div>

    <label title="Upload Image" style="cursor: pointer;">
        <i class="fas fa-image"></i>
        <input type="file" accept="image/*" (change)="uploadImage($event)" style="display: none;" class="img" />
      </label>
</div>



</div>
</div>
<div #editorContainer class="tiptap-editor"></div>
</div>

